@page "/counter"
@inject IAlertService AlertService

<h1>Counter</h1>
<button @onclick="@(() => AlertService.Success(message: "TESTING", autoClose: false, keepAfterRouteChange: true))">Test Alert</button>

@code {

    void PostAlert()
    {

        AlertService.Success(message: "TESTING", autoClose: false, keepAfterRouteChange: true);
    }
}