@page "/"
@inject NavigationManager NavigationManager
@inject INotificationCenter notes
@implements IAsyncDisposable
<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Submit">Send</button>
<button @onclick="Submit3">Get Users</button>

<hr>

<ul id="messagesList">

    <SignalClient.Component.Notify></SignalClient.Component.Notify>
</ul>

@code {
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {

    }

    public async ValueTask DisposeAsync()
    {
        await notes.Dispose();
    }

    Task Submit() => notes.Send("SendUserMessage", messageInput);
    Task Submit2() => notes.Send("SendBroadcastMessage", messageInput);
    Task Submit3() => notes.Send("SendUserlist");

}